<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NEWS APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Country
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/language">India</a></li>
            <li><a class="dropdown-item" href="#">China</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to top_news_news_index_path do %>
            <span class="badge bg-danger">Top News</span>
          <% end %>
        </li>
      </ul>
      <!--- old code 
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->

      <!-- _navbar.html.erb -->

<!-- _navbar.html.erb -->

    <%= form_tag(search_news_index_path, method: :get, class: 'd-flex') do %>
      <%= text_field_tag(:query, params[:query], class: 'form-control me-2', type: 'search', placeholder: 'Search', aria_label: 'Search') %>
      <button class="btn btn-outline-success" type="submit">Search</button>
    <% end %>


    </div>
  </div>
</nav>